header{
    background-color: #382759;
    padding: 1%;
}


html, body{
    min-height: 100vh;
}

body{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

footer{
    color: rgb(160, 160, 185);
    background-color: #382759;
    padding: 1%;
    flex-grow: 0;
}

.header_text{
    color: rgb(160, 160, 185);
    text-decoration: none;}
.header_text:hover {
    text-decoration-line: underline;
    color: rgb(139, 139, 161);
}

.logo{
    width: 5%;
    margin-left: 10%;
}

.tableSt{
    width: 50%!important;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

table{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.dropdown{
    width: 30%;
}

.center{
    display: block;
    margin-left: auto!important;
    margin-right: auto!important;
    text-align: center!important;
}


.container{
    margin-top: 2%;
}

.form-label{
    margin-bottom: 10px;
}

.close {
    color: black;
    float: right;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    border-style: none ;
}

.close:hover {
    color: darkgray;
    cursor: pointer;
}



